extends layout
block content

    h1 Your Feed!
    p Your personal Food Feed


    //table
    //    tr
    //        td Vancity
    //    tr
    //        img(src='pic_mountain.jpg', alt='Mountain View', style='width:304px;height:228px;')
    //    tr
    //        td good






    br
    br
    a(href="/posting") Post a Review!




