extends layout

block content
  h1= "Food Buzz"
  p Welcome to #{title}


  if isUser
    a(href = '/posting') Post a Review!
      br
      br
    a(href ='/logout') Logout

  else
    a(href='/register') Register
    br
    br

    a(href='/login') Login


