extends layout

block content
    h1= "Food Buzz"
    p Welcome to #{title}
//block content
//    .row.column.text-center
//        h1=title
//        .row.small-up-2.large-up-4
//            p Post
//            div.postbox
//                form(name='posting', action='/posting', method='post', enctype="multipart/form-data")
//                    input(type='text', placeholder='Location', name='locationname')


